@import "reset";

$font_stack: 'IM Fell DW Pica SC', serif;

html {
    font-size: 16px;
    line-height: 1.4;
}

body {
    font-family: $font_stack;
}

.container {
    width: 800px;
    margin: 0 auto;
}

h1 {
    background: #243485;
    text-transform: uppercase;
    font-size: 1.2rem;
    letter-spacing: 8px;
    text-align: center;
    padding: .8em 0;
    color: white;
    margin-bottom: 1em;
}

/* CREATURES */

.creature {
    opacity: .75;
    display: block;
    position: relative;
    display: inline-block;
    width: 30%;
    margin-right: 5%;
    margin-bottom: 1rem;

    &:nth-of-type(3n) {
        margin-right: 0;
    }

    input[type=radio] {
        display: none;
    }

    img {
        border-radius: 50%;
        display: block;
        max-width: 100%;
    }

    &:hover {
        opacity: 1;
    }

    // This selector needs to be more specific. Right now it
    // shows a checkmark on every cryptid. It should only show
    // a checkmark for the cryptid that's chosen.
    input:checked + span:after {
        content:"✓";
        color: white;
        font-size: 100px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -50px;
        margin-left: -38px;
    }
}

// FORM

.cryptid-form {
    font-size: 0;
}

fieldset {
    margin-bottom: 1rem;
}

$label_col: 30%;
$content_col: 100% - $label_col;

.field-group-name {
    display: inline-block;
    width: $label_col;
    font-size: 1rem;
    vertical-align: top;
    text-transform: uppercase;
}

.form-content {
    display: inline-block;
    width: $content_col;
    font-size: 1rem;
    vertical-align: top;
}

.text-box {
    width: 100%;
    border: 1px dashed #777;
    padding: .4em .5em;
    border-radius: 4px;
    font-size: .9rem;
    margin-bottom: .4em;
    font-family: $font_stack;
    text-transform: uppercase;
}

.accessories {
    .form-content {
        text-transform: uppercase;
        font-size: .9rem;
    }

    label {
        margin-right: 10px;
    }
}

select {
    font-family: $font-stack;
    font-size: 1.1rem;
    padding: .4em;
}

textarea {
    width: 100%;
    border: 1px dashed #777;
    padding: .4em .5em;
    border-radius: 4px;
    font-size: .9rem;
    font-family: $font_stack;
    text-transform: uppercase;   
    height: 6em;
}

.buttons {
    margin-left: $label_col;
}

button {
    border: none;
    font-family: $font-stack;
    padding: .5em;
    background: #357EC5;
    color: white;
    font-size: 1.0em;
    text-transform: uppercase;
    border-radius: 4px;
}